@use "global" as *;

.c-btn03 {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: rem(14) rem(12) rem(13) rem(18);
  font-size: rem(14);
  font-weight: 700;
  line-height: 1;
  color: $white;
  background-color: $orange;
  border-radius: rem(40);
  border: rem(1.5) solid $white;
  transition: all .3s;
  @include mq(md) {
    justify-content: center;
    gap: rem(12);
    padding: rem(22);
    font-size: rem(22);
    letter-spacing: .075em;
    border: rem(3) solid $white;
  }
}

.c-btn03 span {
  position: absolute;
  right: rem(14);
  width: rem(15);
  height: rem(15);
  border-radius: 50%;
  background: $white;
  @include mq(md) {
    position: unset;
    display: inline-block;
    width: rem(22);
    height: rem(22);
  }
}

.c-btn03 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(4) 0 rem(4) rem(7);
  border-color: transparent transparent transparent $orange;
  transform: translate(-50%, -50%);
  @include mq(md) {
    left: 78.5%;
    border-width: rem(6) 0 rem(6) rem(10);
  }
}

.p-btn03 {
  width: rem(140);
}
