@use "global" as *;

.c-card04 {
  display: flex;
  gap: rem(20);
  @include mq(md) {
    flex-direction: column;
    align-items: center;
    gap: rem(17);
  }
}

.c-card04__image {
  width: rem(109);
  height: rem(109);
  align-items: center;
  aspect-ratio: 1 / 1;
  background: $lightblue02;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  @include mq(md) {
    width: rem(172);
    height: rem(172);
  }
}

.c-card04__image img {
  width: rem(46);
  height: rem(69);
  object-fit: cover;
  aspect-ratio: 46 / 43;
  @include mq(md) {
    width: rem(74);
    height: rem(109);
    aspect-ratio: 74 / 109;
  }
}

.c-card04:not(:last-child) .c-card04__image::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: rem(2);
  height: rem(40);
  background: $lightblue02;
  @include mq(md) {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: rem(40);
    height: rem(4);
  }
}

.c-card04__title {
  position: relative;
  font-size: rem(19);
  letter-spacing: .037em;
  font-weight: 700;
  color: $blue;
  @include mq(md) {
    font-size: rem(22);
    letter-spacing: .075em;
    text-align: center;
  }
}

.c-card04__text {
  font-size: rem(14);
  letter-spacing: -0.05em;
  line-height: calc(20 / 14);
  margin-top: rem(18);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(26 / 16);
    margin-top: rem(27);
  }
}

.c-card04__title::after {
  content: "";
  position: absolute;
  bottom: rem(-8);
  left: rem(0.5);
  width: rem(28);
  height: rem(2);
  background-color: $blue;
  @include mq(md) {
    bottom: rem(-13);
    left: rem(69);
    width: rem(35);
  }
}

.p-card04 {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  @include mq(md) {
    flex-direction: row;
  }
}

/*-------------------------------------------
c-card04--second
-------------------------------------------*/
.c-card04--second .c-card04__image img {
  width: rem(48);
  height: rem(32);
  object-fit: cover;
  aspect-ratio: 48 / 32;
  @include mq(md) {
    width: rem(76);
    height: rem(51);
    aspect-ratio: 76 / 51;
  }
}

/*-------------------------------------------
c-card04--third
-------------------------------------------*/
.c-card04--third .c-card04__image img {
  width: rem(58);
  height: rem(49);
  object-fit: cover;
  aspect-ratio: 58 / 49;
  @include mq(md) {
    width: rem(93);
    height: rem(78);
    aspect-ratio: 93 / 78;
  }
}

/*-------------------------------------------
c-card04--fourth
-------------------------------------------*/
.c-card04--fourth .c-card04__image img {
  width: rem(72);
  height: rem(38);
  object-fit: cover;
  aspect-ratio: 72 / 38;
  @include mq(md) {
    width: rem(115);
    height: rem(60);
    aspect-ratio: 115 / 60;
  }
}

/*-------------------------------------------
c-card04--fifth
-------------------------------------------*/
.c-card04--fifth .c-card04__image img {
  width: rem(53);
  height: rem(53);
  object-fit: cover;
  aspect-ratio: 53 / 53;
  @include mq(md) {
    width: rem(85);
    height: rem(85);
    aspect-ratio: 85 / 85;
  }
}
