@use "global" as *;

.c-icon {
  width: rem(100);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: rem(186);
  }
}

.c-icon__contents {
  width: 94%;
  height: 94%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: rem(1) solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    border: rem(2) solid $white;
  }
}

.c-icon__text {
  color: $white;
  text-align: center;
  font-size: calc(13 / 375 * 100vw);
  font-weight: 700;
  line-height: calc(17 / 13);
  letter-spacing: .037em;
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(32 / 24);
  }
}
