@use "global" as *;

.c-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: rem(186);
  }
}

.c-icon__contents {
  width: 94%;
  height: 94%;
  border-radius: 50%;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    border: 2px solid $white;
  }
}

.c-icon__text {
  color: $white;
  text-align: center;
  font-size: calc(13 / 375 * 100vw);
  font-weight: 600;
  line-height: calc(17 / 13);
  letter-spacing: .037em;
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(32 / 24);
  }
}

.p-icon {
  display: flex;
  justify-content: center;
  gap: rem(5);
  max-width: rem(707);
  margin: 0 rem(15);
  @include mq(md) {
    gap: rem(29);
    max-width: none;
  }
}
