@use "global" as *;

.c-title {
  font-size: rem(24);
  line-height: calc(37.5 / 24);
  letter-spacing: 0.02em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    font-size: rem(42);
  }
}

.c-title::before {
  content: attr(data-en);
  font-size: rem(12);
  line-height: 1;
  letter-spacing: 0.037em;
  font-weight: 400;
  color: $blue;
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-title {
  text-align: center;
}
