@use "global" as *;

.p-fixed .c-btn03 {
  position: fixed;
  width: rem(140);
  right: rem(15);
  top: rem(62);
  z-index: 500;
  opacity: 0;
  transition: opacity .5s ease;
  @include mq(md) {
    width: rem(279);
    top: rem(100);
  }
}

/* フェードインさせるクラス */
.p-fixed .c-btn03.is-show {
  opacity: 1;
}
