@use "global" as *;

.p-footer {
  padding-block: rem(65) rem(40);
  @include mq(md) {
    padding-block: rem(88) rem(19);
    transition: .4s;
  }
}

.p-footer__inner {
  max-width: rem(600);
  @include mq(md) {
    max-width: $innerWidth + $padding-pc * 2;
  }
}

.p-footer__wrapper {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    gap: calc(125 / 1400 * 100vw);
    align-items: flex-start;
  }
}

.p-footer__logo {
  font-size: rem(27.5);
  line-height: 1;
  letter-spacing: .06em;
  font-weight: 700;
  color: $blue02;
  @include mq(md) {
    font-size: rem(34);
    white-space: nowrap;
  }
}


/*-------------------------------------------
ナビゲーション
-------------------------------------------*/
.p-footer__nav {
  width: 100%;
  margin-top: rem(13);
  @include mq(md) {
    width: auto;
    margin-top: rem(-3);
  }
}

.p-footer-nav-item__toggle {
  position: relative;
  right: 0;
  top: rem(34.5);
  width: rem(20);
  height: rem(20);
  border-radius: 50%;
  background: $blue02;
  @include mq(md) {
    flex-shrink: 0;
    top: rem(12);
  }
}

.p-footer-nav-item__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(5) 0 rem(5) rem(7);
  border-color: transparent transparent transparent $white;
  transform: translate(-50%, -50%);
  transition: transform .3s;
}

.p-footer__nav-list {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    gap: calc(35 / 1440 * 100vw);
    flex-wrap: nowrap;
    margin-left: rem(-5);
  }
}

.p-footer-nav-item__link {
  display: block;
  padding-block: rem(34.5) rem(11);
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: .06em;
  line-height: 1;
  color: $blue02;
  width: 100%;
  @include mq(md) {
    width: auto;
    flex: 1;
    white-space: nowrap;
    padding-block: rem(12) rem(8);
    transition: .4s;
  }
}


/*-------------------------------------------
アコーディオン
-------------------------------------------*/
.p-footer-nav-item__accordion {
  display: flex;
  border-bottom: rem(1) solid $blue02;
  @include mq(md) {
    gap: rem(7);
  }
}

.p-footer-nav-item__accordion:hover {
  @include mq(md) {
    cursor: pointer;
    opacity: 0.8;
  }
}

.p-footer-nav-item__accordion .p-header-nav-item__link {
  width: 100%;
}


/*-------------------------------------------
ドロップメニュー
-------------------------------------------*/
.p-footer__dropmenu {
  display: block;
  padding-inline: rem(20) rem(15);
  @include mq(md) {
    padding: rem(4) rem(7) 0 0;
  }
}

.p-footer-dropmenu__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footer-dropmenu__link {
  width: 100%;
  align-items: center;
  font-size: rem(16);
  letter-spacing: .05em;
  padding-top: rem(6);
  line-height: calc(49 / 16);
  padding-top: rem(6);
  @include mq(md) {
    padding-top: 0;
    line-height: calc(43 / 16);
  }
}

.p-footer-dropmenu__toggle {
  position: relative;
  width: rem(12);
  height: rem(16);
  flex-shrink: 0;
  cursor: pointer;
  @include mq(md) {
    height: rem(22);
  }
}

.p-footer-dropmenu__toggle::after {
  content: "＞";
  position: absolute;
  top: 0;
  font-size: rem(14);
  transition: transform .3s;
}

/*-------------------------------------------
プライバシーポリシー
-------------------------------------------*/
.p-footer__privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(23);
  margin-top: rem(59);
  @include mq(md) {
    gap: rem(25);
    margin-top: rem(57);
    margin-left: rem(32);
  }
}

.p-footer__privacy-item {
  font-size: rem(14);
  letter-spacing: 0;
  line-height: calc(25 / 14);
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: .02em;
    line-height: calc(36 / 16);
  }
}

.p-footer__privacy-border {
  width: rem(1.5);
  height: rem(15);
  background-color: $black;
}

.p-footer__copyright {
  margin-top: rem(21);
  font-size: rem(11);
  letter-spacing: .07em;
  display: block;
  text-align: center;
  @include mq(md) {
    margin-top: rem(60);
    font-size: rem(12);
    margin-left: rem(32);
  }
}
