@use "global" as *;

.p-learn .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
}

.p-learn__card {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  margin-top: rem(24);
  @include mq(md) {
    flex-direction: row;
    gap: rem(27);
  }
}

.p-learn__card .c-card {
  @include mq(md) {
    width: rem(230);
    height: rem(270);
  }
}

.p-learn__contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: rem(18);
  @include mq(md) {
    width: rem(731);
    margin: rem(50) auto 0;
  }
}

.p-learn__contents-img {
  width: rem(33);
  height: rem(74);
  @include mq(md) {
    width: rem(69);
    height: rem(148);
  }
}

.p-learn__contents-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 33 / 74;
  @include mq(md) {
    aspect-ratio: 69 / 148;
  }
}

.p-learn__contents-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(3);
  margin-bottom: rem(5);
  font-weight: 700;
  color: $blue;
  text-align: center;
  @include mq(md) {
    gap: rem(9);
  }
}

.p-learn__contents-num {
  font-family: $font-num;
  font-size: rem(52);
  letter-spacing: rem(-1);
  font-style: italic;
  padding-right: rem(9);
  @include mq(md) {
    font-size: rem(100);
    padding-left: rem(12);
    padding-right: rem(18);
  }
}

.p-learn__contents-num::after {
  content: "%";
  font-size: rem(36);
  @include mq(md) {
    font-size: rem(71);
  }
}

.p-learn__contents-line01 {
  width: 100%;
  text-align: left;
  font-size: rem(19);
  line-height: 1;
  letter-spacing: .1em;
  white-space: nowrap;
  @include mq(md) {
    margin-left: rem(46);
    font-size: rem(38.6);
    letter-spacing: .05em;
  }
}

.p-learn__contents-line02 {
  font-size: rem(17);
  letter-spacing: 0;
  @include mq(md) {
    font-size: rem(34);
  }
}
