@use "global" as *;

.p-schedule {
  position: relative;
  padding-block: rem(61.5) rem(60.5);
  @include mq(md) {
    padding-block: rem(107) rem(93);
  }
}

.p-schedule::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: -10;
}

.p-schedule .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
}

.p-schedule__wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  margin-top: rem(22);
  @include mq(md) {
    gap: rem(5);
    margin-top: rem(35);
  }
}
