@use "global" as *;

.p-voice__wrapper {
  overflow-x: clip;
}

.p-voice .c-title {
  text-align: center;
}

.p-voice .swiper {
  margin-top: rem(29);
}

.p-voice .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper .swiper-slide {
  width: rem(213);
  overflow: hidden;
  @include mq(md) {
    width: rem(230);
  }
}

.swiper-slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 213/142;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 230/153;
  }
}
